<div class="container">

<div class="addShoe">
  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Add Beer</button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Shoe</h4>
        </div>
        <div class="modal-body">
          <form class="add-shoe" ng-submit='home.createBeer()'>
      <div>
        <label for="beer-brand">Name:</label>
        <input type="text" class="form-control" id="beer-name" ng-model="home.newBeer.name" placeholder="name">
      </div>
      <div>
        <label for="beer-brand">Type:</label>
        <input type="text" class="form-control" id="beer-type" ng-model="home.newBeer.type" placeholder="name">
      </div>
      <div>
        <label for="newBeer-image">Style:</label>
        <input type="text" class="form-control" id="newBeer-style" ng-model="home.newBeer.style" placeholder="style">
      </div>
      <div>
        <label for="beer-brand">Image:</label>
        <input type="text" class="form-control" id="beer-image" ng-model="home.newBeer.image" placeholder="image">
      </div>
      <div>
        <button type="submit" class="btn btn-default" value="Add Beer">Add Beer</button>
      </div>
    </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>

    <!-- <form ng-submit='home.createBeer()'>
      <div class="form-group">
        <label for="beer-brand">Name:</label>
        <input type="text" class="form-control" id="beer-name" ng-model="home.newBeer.name" placeholder="name">
      </div>
      <div class="form-group">
        <label for="newBeer-kind">Type:</label>
        <input type="text" class="form-control" id="newBeer-type" ng-model="home.newBeer.type" placeholder="type">
      </div>
     <div class="form-group">
        <label for="newBeer-image">Style:</label>
        <input type="text" class="form-control" id="newBeer-style" ng-model="home.newBeer.style" placeholder="style">
      <div>
      <div class="form-group">
        <label for="newBeer-image">Image:</label>
        <input type="text" class="form-control" id="newBeer-image" ng-model="home.newBeer.image" placeholder="image URL">
      <div>
        <button type="submit" class="btn btn-default" value="Add Beer">Add Beer</button>
      </div>
    </form> -->

    <div class="col-xs-3" ng-repeat="beer in home.beers | orderBy: '-upvotes' ">
<!--     <div ng-repeat="beer in home.beers | orderBy: '-upvotes' "> -->
        <a class="beerBrand" href="/beers/{{beer._id}}">{{beer.name}} </a>
        <div class="beerKind"> {{beer.style}} </div>
        <img src="{{beer.image}}"> <br/><br/>
        <button class="btn btn-default" class='delete' ng-click="home.deleteBeer(beer)">Delete</button>
        <button ng-click="home.displayEditForm=true" class="btn btn-default">Edit</button>
        <br><br><br>
        <button type="button" class="glyphicon glyphicon-thumbs-up" ng-click="home.incrementUpvotes(beer)"></button> <div> {{beer.upvotes}} </div>

    <form class="add-comment" ng-submit='home.createComment(beer)'>
      <div>
        <label for="comment-body">Comment</label>
        <input type="text" id="comment-body" ng-model="home.newComment.body" placeholder="comment">
      </div>
       <button type="submit" class="btn btn-default" value="Add Comment">Submit</button>
    </form>

      <ul ng-repeat="comment in home.comments | filter:{beerId: beer._id }">
        <div class="beerComments"> {{comment.body}} </div>
      </ul>
        <form ng-show="home.displayEditForm" ng-submit="home.updateBeer(beer)">
                <div class="form-group">
                  <input type="text" ng-model="beer.name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="beer.type" class="form-control" placeholder="Type">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="beer.style" class="form-control" placeholder="Description">
                </div>
                <input type="submit" value="Save Beer" class="btn btn-default">
       </form>
    </div>







 