<div class="container">

<div class="addShoe">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add</button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Shoe</h4>
        </div>
        <div class="modal-body">
          <form class="add-shoe" ng-submit='home.createShoe()'>
      <div>
        <label for="shoe-brand">Brand:</label>
        <input type="text" id="shoe-brand" ng-model="home.newShoe.brand" placeholder="brand">
      </div>
      <div>
        <label for="newShoe-kind">Kind:</label>
        <input type="text" id="newShoe-kind" ng-model="home.newShoe.kind" placeholder="description">
      </div>
      <div>
        <label for="newShoe-image">Image:</label>
        <input type="text" id="newShoe-image" ng-model="home.newShoe.image" placeholder="image URL">
<!--         <input type="hidden" id="newShoe-image" ng-model="home.newShoe.image" role="uploadcare-uploader" data-crop="disabled" data-images-only="true" />
      </div> -->
 <!--         <div>
        <label for="newTodo-done">Done:</label>
        <input type="text" id="newTodo-done" ng-model="todos.newTodo.done" placeholder="done">
      </div> -->
      <div>
        <input type="submit" value="Add Shoe">
      </div>
    </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>

<!--   <form class="add-shoe" ng-submit='home.createShoe()'>
      <div>
        <label for="shoe-brand">Brand:</label>
        <input type="text" id="shoe-brand" ng-model="home.newShoe.brand" placeholder="brand">
      </div>
      <div>
        <label for="newShoe-kind">Kind:</label>
        <input type="text" id="newShoe-kind" ng-model="home.newShoe.kind" placeholder="description">
      </div>
      <div>
        <label for="newShoe-image">Image:</label>
        <input type="text" id="newShoe-image" ng-model="home.newShoe.image" placeholder="image URL"> -->
<!--         <input type="hidden" id="newShoe-image" ng-model="home.newShoe.image" role="uploadcare-uploader" data-crop="disabled" data-images-only="true" />
      </div> -->
 <!--         <div>
        <label for="newTodo-done">Done:</label>
        <input type="text" id="newTodo-done" ng-model="todos.newTodo.done" placeholder="done">
      </div> -->
   <!--    <div>
        <input type="submit" value="Add Shoe">
      </div> -->
   <!--  </form> -->


  <div class="shoeShow">
     <ul ng-repeat="shoe in home.shoes | orderBy: '-upvotes' ">
      <!-- <li class ="row"> -->
        <a class="shoeBrand" href="/shoes/{{shoe._id}}">{{shoe.brand}} </a>
        <!-- <div class="shoeBrand"> {{shoe.brand}}</div> -->
        <div class="shoeKind"> {{shoe.kind}} </div>
        <img src="{{shoe.image}}"> <br/><br/>
        <button class="btn btn-default" class='delete' ng-click="home.deleteShoe(shoe)">Delete</button>
        <button ng-click="home.displayEditForm=true" class="btn btn-default">Edit</button>
        <br><br><br>
        <button type="button" class="glyphicon glyphicon-thumbs-up" ng-click="home.incrementUpvotes(shoe)"></button> <div> {{shoe.upvotes}} </div>

    <form class="add-comment" ng-submit='home.createComment(shoe)'>
      <div>
        <label for="newComment-author">Author:</label>
        <input type="text" id="newComment-author" ng-model="home.newComment.author" placeholder="author">
      </div>
      <div>
        <label for="comment-body">Body:</label>
        <input type="text" id="comment-body" ng-model="home.newComment.body" placeholder="body">
      </div>
       <input type="submit" value="Add Comment">
      </div>
    </form>

      <ul ng-repeat="comment in home.comments | filter:{shoeId: shoe._id }">
        <div class="shoeComments"> {{comment.body}} </div>
      </ul>
    </ul>
 

        <form ng-show="home.displayEditForm" ng-submit="home.updateShoe(shoe)">
                <div class="form-group">
                  <input type="text" ng-model="shoe.brand" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                  <input type="text" ng-model="shoe.kind" class="form-control" placeholder="Description">
                </div>
                <input type="submit" value="Save shoe" class="btn btn-default">
                <!-- ng-click="home.displayEditForm=false" -->
       </form>
       <hr>
      <!-- </li> -->
    </ul>
    </div>







 